<!-- features -->
<section class="features">
  <div class="container">
    <h2 class="features-title visually-hidden">Features</h2>
    <ul class="features-list">
      <li class="features-item">
        <div class="features-container">
          <svg class="features-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="features-subtitle">Strategy</h3>
        <p class="features-text">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="features-item">
        <div class="features-container">
          <svg class="features-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="features-subtitle">Punctuality</h3>
        <p class="features-text">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="features-item">
        <div class="features-container">
          <svg class="features-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="features-subtitle">Diligence</h3>
        <p class="features-text">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="features-item">
        <div class="features-container">
          <svg class="features-icon" width="64" height="64">
            <use href="./img/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="features-subtitle">Technologies</h3>
        <p class="features-text">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
