<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html"
        >Web<span class="header-logo-part">Studio</span></a
      >
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link current" href="./index.html">Studio</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Portfolio</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="header-adress">
      <ul class="header-adress-list">
        <li class="header-adress-item">
          <a class="header-adress-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="header-adress-item">
          <a class="header-adress-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>

    <button type="button" class="burger-btn" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" data-menu-close>
        <svg class="menu-icon-close" width="8" height="8">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="./index.html">Studio</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Portfolio</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="modal-menu-adress">
        <ul class="menu-adress-list">
          <li class="menu-adress-item">
            <a class="menu-adress-link menu-adress-tel" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
          <li class="menu-adress-item">
            <a class="menu-adress-link" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
      <ul class="menu-soc-list">
        <li class="menu-soc-item">
          <a href="" class="menu-soc-link">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-soc-item">
          <a href="" class="menu-soc-link">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="menu-soc-item">
          <a href="" class="menu-soc-link">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-soc-item">
          <a href="" class="menu-soc-link">
            <svg class="menu-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
