<!-- portfolio -->
<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="portfolio-title">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img5.jpg    1x,
                ./img/portfolio/img5-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img5-tab.jpg    1x,
                ./img/portfolio/img5-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img5-mob.jpg    1x,
                ./img/portfolio/img5-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img5.jpg"
              alt="application"
              width="360"
            />
          </picture>
          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Banking App</h3>
          <p class="portfolio-text">App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img6.jpg    1x,
                ./img/portfolio/img6-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img6-tab.jpg    1x,
                ./img/portfolio/img6-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img6-mob.jpg    1x,
                ./img/portfolio/img6-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img6.jpg"
              alt="phone"
              width="360"
            />
          </picture>
          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Cashless Payment</h3>
          <p class="portfolio-text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img7.jpg    1x,
                ./img/portfolio/img7-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img7-tab.jpg    1x,
                ./img/portfolio/img7-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img7-mob.jpg    1x,
                ./img/portfolio/img7-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img7.jpg"
              alt="laptop"
              width="360"
            />
          </picture>
          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Meditation App</h3>
          <p class="portfolio-text">App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img8.jpg    1x,
                ./img/portfolio/img8-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img8-tab.jpg    1x,
                ./img/portfolio/img8-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img8-mob.jpg    1x,
                ./img/portfolio/img8-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img8.jpg"
              alt="steering wheel in a car"
              width="360"
            />
          </picture>

          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Taxi Service</h3>
          <p class="portfolio-text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img9.jpg    1x,
                ./img/portfolio/img9-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img9-tab.jpg    1x,
                ./img/portfolio/img9-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img9-mob.jpg    1x,
                ./img/portfolio/img9-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img9.jpg"
              alt="phone screen"
              width="360"
            />
          </picture>
          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Screen Illustrations</h3>
          <p class="portfolio-text">Design</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-thumb">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./img/portfolio/img10.jpg    1x,
                ./img/portfolio/img10-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/portfolio/img10-tab.jpg    1x,
                ./img/portfolio/img10-tab-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/portfolio/img10-mob.jpg    1x,
                ./img/portfolio/img10-mob-2x.jpg 2x
              "
            />
            <img
              class="portfolio-image"
              src="./img/portfolio/img10.jpg"
              alt="woman"
              width="360"
            />
          </picture>

          <p class="portfolio-thumb-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-container">
          <h3 class="portfolio-subtitle">Online Courses</h3>
          <p class="portfolio-text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
