/* --------FEATURES------ */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-container {
  display: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;

  margin-bottom: 8px;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }

  .features-subtitle {
    text-align: left;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;

    margin-bottom: 8px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
